<config>    
    <modules>
        <DN_Testimonials>
            <version>0.1.1</version>
        </DN_Testimonials>
    </modules>
    <frontend>
        <routers>
            <testimonials>
                <use>standard</use>
                <args>
                    <module>DN_Testimonials</module>
                    <frontName>testimonials</frontName>
                </args>
            </testimonials>
        </routers>
        <layout>
            <updates>
                <testimonials>
                    <file>testimonials.xml</file>
                </testimonials>
            </updates>
        </layout>
       
    </frontend>
    <global>
        <models>
            <testimonials>
                <class>DN_Testimonials_Model</class>
                <resourceModel>testimonials_mysql4</resourceModel>
            </testimonials>
            <testimonials_mysql4>
                <class>DN_Testimonials_Model_Resource</class>
                <entities>
                    <customer_testimonialss>
                        <table>customer_testimonialss</table>
                    </customer_testimonialss>
                    <admin_user>
                        <table>admin_user</table>
                    </admin_user>
                </entities>
            </testimonials_mysql4>
          </models>

        <blocks>
            <testimonials>
                <class>DN_Testimonials_Block</class>
            </testimonials>
        </blocks>
        <resources>
            <testimonials_setup>
                <setup>
                    <module>DN_Testimonials</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </testimonials_setup>
            <testimonials_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </testimonials_write>
            <testimonials_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </testimonials_read> 
        </resources>
       <helpers>
            <testimonials>
                <class>DN_Testimonials_Helper</class>
            </testimonials>
        </helpers>
       </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <DN_Testimonials before="Mage_Adminhtml">DN_Testimonials_Adminhtml</DN_Testimonials>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
  
</config>